<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤ情報取得</h1>
    <br><br><br>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result = connection.exec("select * from crops where give_for != '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないゴーヤについて、大きさと売った相手の情報ページに飛びます<br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <br><br><br><br>
    <% result1 = connection.exec("select * from crops where quality = 'f';") %>
    <% data1 = [] %>
    <% result1.each do |record| %>
      <%  data1 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]} 品質：#{record["quality"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、品質が悪いゴーヤについて、大きさと売った相手、品質の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
